.app{
  overflow: auto;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  &::-webkit-scrollbar{
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-thumb{
    border-radius: 6px;
    background: var(--color-cocoa100);
    border: 1px solid var(--color-cocoa500);
  }
}